@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Space Grotesk', sans-serif;
}

.text-purple {
  color: #a855f7;
}

.navbar-brand.text-purple:hover {
  color: #d0a7ff;
  transition: color 0.3s ease-in-out;
}

